<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @platform.name %>
</p>

<p>
  <b>Added:</b>
  <%= time_ago_in_words @platform.created_at %> ago
</p>

<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
