<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @import.status %>
</p>

<p>
  <b>Count:</b>
  <%= @import.count %>
</p>

<p>
  <b>Log:</b>
  <%= @import.log %>
</p>

<p>
  <b>Account:</b>
  <%= @import.account_id %>
</p>


<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
