<h1>Listing items</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Link</th>
    <th>Account</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.content %></td>
    <td><%= item.link %></td>
    <td><%= item.account_id %></td>
    <td><%= item.user_id %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

